*{
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#21124D;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

h1{
    color:white;
    font-size:55px;
    margin-bottom:70px;
}

.container{
    display:flex;
    gap:80px;
    justify-content:center;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:320px;
    height: 380px;
    padding:35px;
    border-radius:20px;
    align-items: center;
    display:flex;
    flex-direction:column;
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.629);
}

h2{
    color:#21124D;
    font-size:38px;
    margin-bottom:80px;
}

a{
    display: flex;
    background:#6D37FF;
    width:175px;
    height: 65px;
    color:#ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:22px;
    border-radius:15px;
    margin-bottom:18px;
    transition:0.3s;
    text-decoration: none;
}

a:hover{
    background:#21124D;
    transform:scale(1.03);
}